<div
  [ngClass]="[className()]"
  class="relative flex flex-col justify-start font-light text-primary text-base items-start gap-1"
  id="select-{{ id() }}"
>
  <label [for]="id()" class="block" [class]="isDisabled() ? 'opacity-50' : ''">
    {{ label() }}
    @if (required()) {
    <span class="text-red-700">*</span>
    }
  </label>

  <div class="relative w-full">
    <div
      [class]="combinedClasses()"
      (click)="toggleDropdown()"
      [attr.disabled]="isDisabled() ? '' : null"
    >
      <div class="flex items-center justify-between w-full">
        <span
          [class.text-gray-400]="!selectedOption()"
          class="truncate flex items-center"
        >
          {{ getDisplayText() }}
        </span>
        <app-icon
          [name]="IconName.ChevronDown"
          [class]="
            'w-4 h-4 transition-transform duration-200 text-gray-400 flex-shrink-0 flex items-center justify-center ' +
            (isOpen() ? 'rotate-180' : '')
          "
        />
      </div>
    </div>

    @if (isOpen() && !isDisabled()) {
    <div
      class="absolute z-50 w-full mt-1 bg-white border border-gray-300 rounded-xl shadow-lg max-h-60 overflow-auto p-1"
    >
      @for (option of resolvedOptions(); track option.value) {
      <span
        (click)="selectOption(option)"
        [class]="
          ' px-4 py-3 mx-1 my-0.5 rounded-xl cursor-pointer hover:bg-gray-100 transition-colors flex items-center ' +
          (selectedOption()?.value === option.value
            ? 'bg-primary-blue text-white hover:bg-primary-blue-hover'
            : 'text-gray-700')
        "
      >
        {{ option.label }}
      </span>
      }
    </div>
    } @if (!!errorMessage()) {
    <span
      class="absolute top-full left-0 mt-1 text-xs text-red-700 text-left"
      >{{ errorMessage() }}</span
    >
    }
  </div>
</div>
